{% extends 'base.html' %}
{% include 'templates/navbar.html' %}
{% block title %} All post {% endblock title %}


{% block content %}

 {% include 'navbar.html' %}

<div class="container">
	<div class="row">
		<div class="instructions">
			<h1>To Make Payments:</h1>
			<p>Upload an <span>Excel</span> or <span>CSV</span> file with a list of one or more recepients
			</p>
			<p class="more-instructions"><a href="#collapse-instructions" aria-expanded="false" aria-controls="collapseInstructions" data-toggle="collapse">click for instructions</a></p>

			<div class="collapse" id="collapse-instructions">
				<p>1) Upload an Excel or CSV file</p>
				<p>2) View your information in a table</p>
				<p>3) Send your payments</p>
			</div>
  		</div>

			<!-- <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data" class="upload-form"><input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple><label for="file">Excel</label></form> or <form action="/readxls" method="post" class="upload-form"> <input type="file" name="file" id="csv-file" class="inputfile"><label for="file">CSV</label></form> -->


		<div class="upload-buttons">
			<div class="upload-excel-btn">
				<form action="{{ upload_url }}" method="POST" enctype="multipart/form-data" class="upload-form">

					<input type="file" name="file" value="" id="file" required>
					<!-- <label for="file" class="btn btn-primary btn-lg"><i class="fa fa-upload"></i>Upload an Excel file</label -->

					<button type="submit" name="uploadfile" id="uploadfile" value="" class="btn btn-primary"><i class="fa fa-upload"></i>Upload file </button>
					</form>

			    <script>
                    $(document).ready(function () {
                    $('input[type=file]').change(function () {
                    var val = $(this).val().toLowerCase();
                    var regex = new RegExp("(.*?)\.(xlsx|csv)$");
                    if(!(regex.test(val))) {
                        $(this).val('');
                        alert('Please upload an Excel or CSV file');
                    } }); });
                </script>




			</div>


		</div>

	</div>
</div>

{% endblock content %}