 {% extends 'base.html' %}


 {% load staticfiles %}

{% block title %} All post {% endblock title %}

{% block content %}

 {% load humanize %}

 {% include 'navbar.html' %}

<div class="container">
    <div class="page-content">
        <!-- PAGE CONTENT WRAPPER -->
            <div class="page-content-wrap">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="review-heading">Review and Send</h1>
                        <!-- START DEFAULT DATATABLE -->
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table datatable">
                                                <h5 style="color:#777777;">File Name - {{ name }}</h5>
                                                <h5 style="color:#777777;">File Size - {{ size }} bytes</h5>
                                                <h5 style="color:#777777;">File Content type - {{ content_type }}</h5>
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Phone</th>
                                                <th>Amount (KES)</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                                {% for p in list %}
                                                  <tr>
                                                    <td>{{p.LastName}}</td>
                                                    <td>{{p.FirstName}}</td>
                                                    <td>{{p.Phone}}</td>
                                                    <td>{{p.Amount|intcomma}}</td>
                                                  </tr>
                                                {% endfor %}

                                        </tbody>
                                        <tr>
                                                    <th><strong>No of Recipients:   </strong> </th>
                                                    <th>{{ recipients|intcomma }} contacts</th>
                                                    <th><strong>Total Amount:  </strong> </th>
                                                    <th>{{ total|intcomma }} (KES)</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END DEFAULT DATATABLE -->

                    <form method="" action="/bulk/status/">
                        <div class="upload-buttons table">
                            <button type="submit" class="btn btn-primary" align="right" data-toggle="" data-target="" >SEND</button>
                        </div>

                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Payment Scheduled. </h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Hi User,</p>
                                        <p>Your payment has successfully been scheduled.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                </form>


                                <!-- Modal -->



            </div>
        </div>

    </div>
                <!-- PAGE CONTENT WRAPPER -->
</div>
</div>
{% endblock content %}

