 {% extends 'base.html' %}


 {% load staticfiles %}

{% block title %} NIMS | upload review {% endblock title %}

{% block content %}

 {% load humanize %}

 {% include 'navbar.html' %}

<div class="container">
    <div class="page-content">
        <!-- PAGE CONTENT WRAPPER -->
            <div class="page-content-wrap">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="review-heading">Review and Send</h1>
                        <p align="right" style="color:green;"><small>balance {{ balance.currency }} {{ balance.balance|floatformat:2|intcomma }}</small></p>
                        <!-- START DEFAULT DATATABLE -->
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table datatable">
                                                <h5 style="color:#777777;">File Name - {{ name }}</h5>
                                                <h5 style="color:#777777;">File Size - {{ size }} bytes</h5>
                                                <h5 style="color:#777777;">File Content type - {{ content_type }}</h5>
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Deposit Phone. No.</th>
                                                <th>Amount (KES)</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                                {% for p in list %}
                                                  <tr>
                                                    <td>{{p.LastName}}</td>
                                                    <td>{{p.FirstName}}</td>
                                                    <td>+{{p.Phone}}</td>
                                                    <td>{% if p.Amount %}{{p.Amount|floatformat:2|intcomma}} {% else %} <small><h5 style="color:red;">Error</h5></small> {% endif %}</td>
                                                  </tr>
                                                {% endfor %}

                                        </tbody>
                                        <tr>
                                                    <th><strong>No of Recipients:   </strong> </th>
                                                    <th>{{ recipients|intcomma }} contacts</th>
                                                    <th><strong>Total Amount:  </strong> </th>
                                                    <!--<th>{{ total|intcomma }} (KES)</th>-->
                                                    <th>{{ total|floatformat:2|intcomma }} (KES)</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END DEFAULT DATATABLE -->

                    <form method="" action="/bulk/status/">
                        {% if messages %}
                        <div class="upload-buttons table">
                            <button type="submit" class="btn btn-primary" disabled align="right" data-toggle="" data-target="" >SEND</button>
                            <hr/>
                            <p style="color:red;">To continue, fix the errors on your document listed below first</p>
                        </div>
                        {% else %}
                        <div class="upload-buttons table">
                            <button type="submit" class="btn btn-primary" align="right" data-toggle="" data-target="" >SEND</button>
                        </div>
                        {% endif %}


                </form>


			<!-- Django Messages -->
			<div class="instructions">
					{% if messages %}
					<div class="messages">
						{% for message in messages %}
						<h5 {% if message.tags %} class="{{ message.tags }}"{% endif %}>
							{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
							{{ message }}
						</h5>
						{% endfor %}
					</div>
                <hr/>
					{% endif %}
			</div>

			<!-- End Django Messages -->

            </div>
        </div>

    </div>
                <!-- PAGE CONTENT WRAPPER -->
</div>
</div>
{% endblock content %}

