 {% extends 'base.html' %}
{% block title %} NIMS | payment status {% endblock title %}


{% block content %}

  {% include 'navbar.html' %}

<div class="container">
	<div class="row">
		<div class="instructions">
			<h1>Payment Status</h1>


           <!-- {{mydata}} -->

			{{ list }}

			<!-- Django Messages -->
			<div class="instructions">
					{% if messages %}
					<div class="messages">
						{% for message in messages %}
						<h5 {% if message.tags %} class="{{ message.tags }}"{% endif %}>
							{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
							{{ message }}
						</h5>
						{% endfor %}
					</div>
                <hr/>
					{% endif %}
			</div>

			<!-- End Django Messages -->


			<p class="more-instructions"><span><a href="#">View payment reports</a></span>
			</p>

			<div class="upload-buttons">
				<a href="/bulk"><button class="btn btn-primary">make new payment</button></a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}