{% extends 'base.html' %}
{% include 'templates/navbar.html' %}
{% block title %} NIMS | file upload {% endblock title %}


{% block content %}

 {% include 'navbar.html' %}

<div class="container">
	<div class="row">
		<div class="instructions">
			<h1>To Make Payments:</h1>
			<p>Upload an <span>Excel</span> file with a list of one or more recepients</p>

			<p class="more-instructions"><a href="#collapse-instructions" aria-expanded="false" aria-controls="collapseInstructions" data-toggle="collapse">click for instructions</a></p>

			<div class="collapse" id="collapse-instructions">
				<p>1) Upload an Excel file</p>
				<p>2) View your information in a table</p>
				<p>3) Send your payments</p>
			</div>
  		</div>
		<div class="upload-buttons">
			<div class="upload-excel-btn">
			{% if form.errors %}
				<p style="color: red;">
					Please correct the error{{ form.errors|pluralize }} below.
				</p>
			<br/>
			{% endif %}

				<form id="fileForm" action="" method="POST" enctype="multipart/form-data" class="upload-form">
					{{ form.as_table }}
<!--
						<ul class="errorlist">you are required to upload a file</ul>
					    <label for="id_file">File:</label>
							<input id="id_file" name="file" type="file">
						<input type="hidden" name="" value="">
						</button>-->

					{% csrf_token %}

					<button type="submit" name="uploadfile" id="uploadfile" value="" class="btn btn-primary"><i class="fa fa-upload"></i>Upload file </button>
				</form>


			<!-- Django Messages -->
<br/>


			<div>
					{% if messages %}
				<br/>
				<p style="color:red;">The system encountered this errors, fix them to proceed</p>
					<div class="messages">
						{% for message in messages %}
						<h5 {% if message.tags %} class="{{ message.tags }}"{% endif %}>
							{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
							{{ message }}
						</h5>
						{% endfor %}
					</div>
					{% endif %}
			</div>

			<!-- End Django Messages -->

	<script>$("#fileForm").validate();</script>


			</div>


		</div>

	</div>
</div>
{% endblock content %}
